<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/fAdminLogin.js" defer></script>
    <title>{{title}}</title>
</head>
<body>
    <div class="login-container">
    <!-- Logo placeholder -->
    <div class="logo">
      <img src="/photos/bctc-logo.png" alt="Berks Career and Technology Center Logo" class="logo">
    </div>

    <!-- Login box --> 
    <div class="login-box">
    <h2>{{title}}</h2>
    <form id="loginForm" method="POST" action="/adminLogin">
        <label for="password">Enter Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>

        <button type="submit">Login</button>

        <p>Want to go back? <a href="/signin">Signin Page Here</a></p>
</form>
</body>
</html>